.wrapper{
  min-height: 100vh;
  background: rgb(180,58,160);
  background: -moz-linear-gradient(90deg, rgba(180,58,160,0.9514399509803921) 28%, rgba(10,129,149,0.8870141806722689) 60%);
  background: -webkit-linear-gradient(90deg, rgba(180,58,160,0.9514399509803921) 28%, rgba(10,129,149,0.8870141806722689) 60%);
  background: linear-gradient(90deg, rgba(180,58,160,0.9514399509803921) 28%, rgba(10,129,149,0.8870141806722689) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43aa0",endColorstr="#0a8195",GradientType=1);
}
.table{
  --bs-table-bg:tranparent;
}